<% provide(:title, "About Us") %>
<h1>About</h1>
<p>
  Charleston Women in Tech is a collaborative effort of Charleston’s women leaders, educators, and tech professionals to connect, support and prepare women of all ages in the technology industry in Charleston, SC. Charleston is no exception to the pervasive nation-wide deficit of women seeking, obtaining, and excelling in technology-based careers. Charleston Women in Tech seeks to achieve increased participation and achievement by women in technology through a focus on three main objectives – Education, Mentorship, and creating a Community for women in the Charleston area.
</p>

<p>
  By focusing on these key objectives, Charleston Women in Tech ultimately seeks to create a climate that is amenable to women in technology.
</p>