<div class="center jumbotron">
  <h1>Join us on June 22, 2019, for a fun 5K race!</h1>

  <h2>
    All proceeds from the race will benefit our local non-profit, Women in Technology, whose mission is to connect, support, and prepare women of all ages for careers in technology.
  </h2>

  <%= link_to "Register Now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>