<% provide(:title, "Race Detailed Information") %>
<h1>Race Information</h1>

      <table style="background-color:#e6ffff;">
        <tbody>
        <tr style="border:0px !important;background-color:#e6ffff;">
          <th style="border:0px !important;background-color:#e6ffff;width:50%">
            <p><b>Address</b></p>
            <p style="font-weight:normal;">123 Goose Creek Way</p>
            <p style="font-weight:normal;">Charleston, SC 29456</p>
            
            <p><b>Schedule</b></p>
            <center>
            <table>
              <tr>
                <th>Registration time</th>
                <th>8:00 am</th>
              </tr>
              <tr>
                <th>Race Begins</th>
                <th>9:00 am</th>
              </tr>
              <tr>
                <th>Awards</th>
                <th>11:00 am</th>
              </tr>
            </table></center>
          </th>
          <th style="border:0px !important;background-color:#e6ffff;">
            <div class="col"><a class="example-image-link" href="<%=image_path "/assets/map.JPG" %>" data-lightbox="example-set"><img width="100%" class="example-image" src="<%=image_path "/assets/map.JPG"%>" alt=""/></a>
          </th>
        </tr>
        </tbody>
      </table>

